/* RESET STYLESHEET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* { 
    margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}
/* END OF RESET STYLESHEET */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --car-button-color: hsl(0, 0%, 83%);
    --car-button-hover-color: hsl(0, 0%, 65%);
    --reset-button-color: hsl(0, 100%, 60%);
    --reset-button-hover-color: hsl(0, 100%, 20%);
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: white;
}

nav{
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    height: 60px;
    position: relative;
}

.logout_button{
    position: absolute;
    right: 10px;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: lighter;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--reset-button-color);
    color: white;
    box-shadow: 3px 3px var(--reset-button-hover-color);
}

.videostream{
    width: 100%;
    height: 60vh;
    background-color: rgb(30, 30, 30);
    position: relative;
    display: grid;
    place-items: center;
    min-height: 350px;
    overflow: hidden;
}

.videostream p{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stream{
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

p{
    color: white;
}

.camera_control{
    position: absolute;
    width: 175px;
    height: 80px;
    bottom: 0;
    /* background-color: rgba(211, 211, 211, 0.5); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.camera_form{
    width: 45%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

button{
    background-color: var(--car-button-color);
    border: none;
    outline: none;
    display: grid;
    place-items: center;
}

.camera_form button{
    background-color: var(--car-button-color);
    width: 100%;
    height: 90%;
    border-radius: 10px 0 0 10px;
    filter: drop-shadow(5px 5px var(--car-button-hover-color));
}

.camera_form:last-child button{
    border-radius: 0 10px 10px 0;
}
.camera_form:first-child button:hover{
    filter: none;
    transform: translateX(5px) translateY(5px);

}
.camera_form:last-child button:hover{
    filter: none;
    transform: translateX(5px) translateY(5px);
}

.left_arrow{
    border: 12.5px solid transparent;
    border-right-color: rgb(20, 20, 20);
    margin-right: 15px;
}

.right_arrow{
    border: 12.5px solid transparent;
    border-left-color: rgb(20, 20, 20);
    margin-left: 15px;
}

.car_control{
    height: calc(40vh - 50px);
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 250px;
}

.controller_center{
    height: 90px;
    aspect-ratio: 1.5/1;
    /* background-color: blue; */
    position: relative;
    display: grid;
    place-items: center;
}

.car_unassigned button{
    width: 50px;
    height: 50px;
    background-color: var(--reset-button-color);
    color: white;
    border-radius: 50%;
    filter: drop-shadow(3px 3px var(--reset-button-hover-color));
}
.car_unassigned button:hover{
    transform: translateX(3px) translateY(3px);
    filter: none;
}

.car_forward{
    position: absolute;
    width: 100%;
    height: calc(100% / 1.5);
    bottom: 100%;
    filter: drop-shadow(5px 5px var(--car-button-hover-color));
}

.car_forward:hover, .car_backward:hover{
    filter: none;
    bottom: calc(100% - 5px);
    left: 5px;
}

.car_forward button{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.up-arrow{
    border: 12.5px solid transparent;
    border-bottom-color: rgb(20, 20, 20);
    margin-bottom: 15px;
}

.car_backward{
    position: absolute;
    width: 100%;
    height: calc(100% / 1.5);
    top: 100%;
    filter: drop-shadow(5px 5px var(--car-button-hover-color));
}

.car_backward button{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

/* .car-buttons:hover{
    background-color: var(--car-button-hover-color);
} */

.down-arrow{
    border: 12.5px solid transparent;
    border-top-color: rgb(20, 20, 20);
    margin-top: 15px;
}

.car_right{
    position: absolute;
    width: calc(75% / 1.5);
    height: 100%;
    left: calc(100%);
    filter: drop-shadow(5px 5px var(--car-button-hover-color));
}

.car_right:hover{
    filter: none;
    left: calc(100% + 5px);
    top: 5px;
}


.car_right button{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.right-arrow{
    border: 12.5px solid transparent;
    border-left-color: rgb(20, 20, 20);
    margin-left: 15px;
}

.car_left{
    position: absolute;
    width: calc(75% / 1.5);
    height: 100%;
    right: calc(100%);
    filter: drop-shadow(5px 5px var(--car-button-hover-color));
}


.car_left:hover{
    filter: none;
    right: calc(100% - 5px);
    top: 5px;
}

.car_left button{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.left-arrow{
    border: 12.5px solid transparent;
    border-right-color: rgb(20, 20, 20);
    margin-right: 15px;
}

/* login modal */
/* login modal */
/* login modal */

.login_modal_background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.modal_heading{
    width: 90%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_heading strong{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.wheel{
    width: 45px;
    height: 45px;
    margin-inline: 2px;
    animation: rotation 3s linear infinite;
}

.camera_icon{
    width: 45px;
    height: 45px;
    margin-inline-start: 4px;
    transform: scaleX(-1);
    animation: camera 5s linear infinite;
}

.left_w{
    animation-delay: 2s;
}

.right_w{
    animation-delay: 3s;
}

@keyframes camera {
    0% {
        transform: scaleX(-1) rotate(0deg);
    }
    25% {
        transform: scaleX(-1) rotate(10deg);
    }
    50% {
        transform: scaleX(-1) rotate(0deg);
    }
    75% {
        transform: scaleX(-1) rotate(-10deg);
    }
    100% {
        transform: scaleX(-1) rotate(0deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login_modal{
    width: 90%;
    max-width: 500px;
    min-height: fit-content;
    background-color: teal;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
    background-color: white;
}

.login_modal form{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.login_heading{
    width: 100%;
    text-align: center;
}

#user, #password-input{
    width: 100%;
    padding: 7.5px 5px;
    outline: none;
}

.show_password_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.error_notice{
    width: 100%;
    text-align: center;
    color: var(--reset-button-color);
}

.login_submit{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    /* background-color: rebeccapurple; */
    background-color: #4285f4;
}

.esp_now_modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, 0.6);
    display: grid;
    place-items: center;
    color: black;
}

.esp_now_container{
    width: 90%;
    max-width: 500px;
    height: 275px;
    background-color: white;
    box-shadow: 0 0 10px 5px hsl(0, 0%, 40%);
    border-radius: 5px;
}

.esp_now_form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 5px;
}

.esp_now_form *{
    width: 100%;
    text-align: left;
}

.ip_container{
    display: flex;
    flex-flow: row wrap;
    
}

#ip_address{
    width: 70%;
    border-radius: 5px 0 0 5px;
    border: 1px solid darkgray;
    background-color: hsl(0, 0%, 93%);
}

.esp_now_submit{
    width: 30%;
    background-color: #4285f4;
    color: white;
    border-radius: 0 5px 5px 0;
}

.esp_now_form label{
    margin-top: 5px;
}

.esp_now_form input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.esp_now_form input::placeholder{
    font-style: italic;
}

.esp_now_footer{
    margin-block-start: 20px;
}

.esp_failed{
    color: tomato;
}

.old_ip_notice{
    font-size: small;
    font-style: italic;
}